.quiz {
  position: relative;
  width: 100%;
  height: auto;
  &__inner {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }
  &__btns-box {
    width: 100%;
    padding: 20px 0;
  }
  &__btns-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    justify-content: center;
  }
  &__btns-item {
    width: 64px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.23);
    cursor: pointer;
    &:hover {
      background: #00000008;
    }
  }
  &__btns-btn {
    width: 100%;
    height: 100%;
    color: #333;
    font-size: 18px;
    line-height: 20px;
    background: transparent;
  }

  &__desc-quiz-box {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    overflow: hidden;
  }
  &__desc-quiz-list {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
  }
  &__desc-quiz-item {
    min-width: 100%;
    height: 100%;
  }
  &__desc-quiz-item-desc {
    width: 100%;
    padding: 15px 25px;
    background: #00000008;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    p {
      color: #333;
      font-size: 25px;
      font-weight: 600;
      line-height: 27px;
      margin-bottom: 10px;
    }
  }
  &__desc-quiz-options-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  &__desc-quiz-options-item {
    width: 100%;
    cursor: pointer;
    padding: 8px 16px;

    button {
      color: #333;
      font-size: 20px;
      line-height: 28px;
      background: transparent;
    }
    &:hover {
      background: #00000008;
    }
  }
  &__desc-quiz-next-prive-box {
    width: 100%;
    display: flex;
    padding: 15px 25px;
    align-items: center;
    background: #00000008;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  &__desc-quiz-prive-btn,
  &__desc-quiz-next-btn {
    background: #3f51b5;
    &:hover {
      background: #26358a;
    }
  }
  &__desc-quiz-submit-btn {
    color: #333;
    background: #e0e0e0;
    box-shadow: 0px 3px 1px -2px #00000033, 0px 2px 2px 0px #00000024, 0px 1px 5px 0px #0000001f;

    &:hover {
      background: #cacaca;
    }
  }
}

.loading-box {
  width: 100%;
  max-width: 940px;
  height: auto;
  margin: 0 auto;
  padding: 20px 0;
}
.loading-top-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 20px;

  li {
    width: 64px;
    height: 42px;
    background: #00000008;
    border: 1px solid rgba(0, 0, 0, 0.23);
  }
}
.loading-main-box {
  width: 100%;
  height: 360px;
  margin-top: 20px;
  border-radius: 5px;
  background: #00000008;
  border: 1px solid rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 500px) {
  .quiz {
    &__desc-quiz-prive-btn,
    &__desc-quiz-next-btn,
    &__desc-quiz-submit-btn {
      padding: 6px;
    }
  }
}

.submit {
  background: #3f51b5 !important;
  color: #fff !important;
  cursor: pointer;
}
.incorrectAnswers {
  background: #f16a39 !important;
  button {
    color: #fff !important;
  }
}
.actAnsers {
  background: #3333 !important;
}
.clickItemsBG {
  background: rgba(51, 51, 51, 0.199) !important;
}
.correctAnswerActive {
  button {
    color: #fff !important;
  }
  background: lightgreen !important;
}

.act-item {
  button {
    color: #fff;
  }
  background: #00f !important;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: default;
}
